.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .arvo-bold {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .arvo-regular-italic {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .arvo-bold-italic {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  *{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: "Arvo", serif;
}

.dropbtn{
    background-color: #f2baba;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown:hover .dropbtn {
    background: rgb(176, 86, 86);
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f2baba;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

.dropdown-content a:hover{
    color: #fff;
}

.dropdown:hover .dropdown-content{
    display:block;
}


.navbar{
    height: 80px;
    background: #f2baba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.logo{
    color: #000;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    margin-right: 80px;
}

.navbar a{
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

.navbar a:hover{
    color: #fff;
}

.hero-container{
    display: grid;
    grid-template-columns: 1fr;
    height: 95vh;
    padding: 0 3rem calc((100vw - 1300px)/2);
}

.footer{
    background-color: #f2baba;
    font-size: 16px;
    text-transform: none;
    letter-spacing: normal;
    display: flex;
    unicode-bidi: isolate;
    box-sizing: inherit;
    margin-top: 60px;
}

.all-container{
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 16px;
}

.signature-logo-date-container{
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.top-grid-cell{
    flex-grow: 3;
    flex-basis: 100%;
    flex-shrink: 1;
    box-sizing: border-box;
    padding-left: 0px;
    padding-bottom:0px;
    padding-right: 0px;
    padding-right: 0px;
    padding-top: 10px;
    max-width: 100%;
    font-size: 16px;
}

.footer-details{
    color: black;
    line-height: 1.5;
    font-weight: 400px;
    font-size: 14px;
    word-wrap: break-word;
    text-align: center;
}

.footer-details p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.bottom-grid-cell{
    flex-grow: 3;
    flex-basis: 100%;
    flex-shrink: 1;
    box-sizing: border-box;
    padding-left: 0px;
    padding-bottom:10px;
    padding-right: 0px;
    padding-right: 0px;
    padding-top: 0px;
    max-width: 100%;
    font-size: 16px;
}

.footer-date{
    color: black;
    line-height: 1.5;
    font-weight: 400px;
    font-size: 14px;
    word-wrap: break-word;
    text-align: center;
}

.footer-date p{
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

@media screen and (max-width:768px){
    .hero-container{
        grid-template-columns: 1fr;
    }
    .footer{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}